#cart
{
    display: inline;
    text-align: r
    ight;
    margin: auto;
    padding-left: 430%;
    padding-top: 1%;
    justify-content: space-between;
    
}
#bar1
{
    float: right;
}